<div id="todo">
  <div class="toolbox">
    <form id="form-1" action="/add_todo" method="post">
    <!-- el campo name es con el que referencia el params del controller -->
      <input type="text" class="todo" name="todo_content1" value="Put your todo item here!"/>
      <input type="submit" value="Add Todo"/>
      <!-- <button class="add" type="submit">Add Todo</button> -->
    </form>
  </div>

  <div class="todo_list">

  </div>



  <table border="1" >
    <tr>
      <th> Id</th>
      <th> Content</th>
      <th> Accion</th>
    </tr>
    <% @todos.each do |todo| %>
    <%todo.completed == true ? color = "#b5e7a0" : color = "#eca1a6"   %>
     
    <tr bgcolor=<%= color %> >
      <td> <%= todo.id %> </td>
      <td> <%= todo.todo_content %> </td>
      <td>      
       <ul>
         <li><a href="/todos/<%= todo.id %>/delete" class="delete">Delete</a></li>
         <li><a href="/todos/<%= todo.id %>/complete  " class="complete">Complete</a></li>
       </ul>
     </td>
   </tr>
   <% end %>
 </table>





</div>
</div>
